.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  padding-top: 15px;
}

.slider {
  flex: 0 1 100%;
  padding-bottom: 10px;
  text-align: center;
}
