.button {
  padding: 0.5rem 1.5rem;
  border: 1px solid #bbb;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.26);
  margin: auto;
}

.button:hover,
.button:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

.buttonFixedWidth {
  width: 120px;
}
